@charset "utf-8";

/* CSS Document */
*{padding: 0; margin: 0;}
*{font-family: 'Courier New', Courier, monospace;}
img {
	animation-duration: 4s;
	animation-name: popup;
	animation-iteration-count: 1;
	animation-direction: normal ;
}

@keyframes popup {
	from {
		margin-bottom: 20%;
		width: 0%;
	}

	to {
		margin-bottom: 0%; 
		width: 15%;
	}
}

@media screen and (min-width: 1024px) {}
	main {
		float: left;
		width: 100%;
		border-style: solid;
		padding-bottom: 8vh;
		margin-right: 1%;
		padding-left: 1vw;
		padding-right: 1vw;
		background-color: lightcyan;
	}


	
	.top{
        
        background-color: darkblue;
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;        
	}    
	img {

		float: right;
		width: 15%;
		height: 100%;
	}

	nav {
		text-align: right;
		list-style-type: none;
		
		
		width: 72%;
		background-color: transparent;
		border-style: dotted;
		border-color: transparent;
		align-self: center;
		justify-content: space-between;
	}

	a {
		
		text-align: center;
		float: space-between;
		text-decoration:aqua;
		color: rgb(255, 255, 255);
		background-color: rgb(0, 150, 187);
		padding-top: 0.2em;
		padding-bottom: 0.2em;
		padding-left: 0.6em;
		padding-right: 0.6em;
		border: solid;
		border-width: 1px;
		border-color: white;
		margin-top: 10%;
		height: 50%;
	}

	a:hover {
		background-color: orange;	
	}

	header{
		justify-self: center;
	}

	h1 {
		padding: 15px;
		text-align: center;
		color: whitesmoke;
		background-color: transparent;
		
		justify-self: center;
		margin: auto;
		
	}
	.w1{
		text-align: left;

	}

	section {
		border-style: groove;
		border-color: aliceblue;
		background-color: white;
		padding: 10px;
		margin-top: 15px;
		width: 50%;
		height: auto;
		box-shadow: 3px 3px 3px 2px #797979;
	}


	
		.footer{
			width: 100vw;
			height: 55vh;
			background-color: #002C57;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			position: relative;
			overflow: hidden;
		}
		.footer-bg{
			position: absolute;
			top: -18%;
			left: -5%;
			height: 100%;
			opacity: 0.4;
			transform: rotate(180deg);
			z-index: 50;
		}
		.footer-bg2{
			position: absolute;
			top: -30%;
			right: 0;
			height: 150%;
			opacity: 0.4;
			z-index: 50;
		}
		.about-col, .links-col, .contact-col, .icon-col{
			position: relative;
			z-index: 60;
		}
		.about-col{
			width: 23%;
			height: 65%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 1% 1%;
		}
		.about-col img{
			width: 65%;
		}
		.about-col p,.about-col label{
			font-size: 1rem;
			line-height: 1.8rem;
			opacity: 0.8;
			color: lightgrey;
		}
		.about-col input{
			height: 28%;
			border: none;
			outline: none;
			padding: 20px;
			font-size: 0.9rem;
		}
		.links-col{
			height: 65%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 1% 1%;
		}
		.links-col h2{
			font-size: 1.1rem;
			font-weight: 700;
			margin-bottom: 40px;
			color: white;
		}
		.links-col ul{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex: 1;
		}
		.links-col ul li{
			font-size: 0.9rem;
			color: lightgrey;
			opacity: 0.8;
		}
		.contact-col{
			height: 65%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			padding: 1% 1%;
		}
		.contact-col h2{
			font-size: 1.1rem;
			font-weight: 700;
			margin-bottom: 40px;
			color: white;
		}
		.contact-col ul{
			display: flex;
			flex-direction: column;
			flex: 1;
		}
		.contact-col ul li:nth-child(2){
			margin: 15px 0;
		}
		.contact-col ul li{
			font-size: 0.9rem;
			color: lightgrey;
			opacity: 0.8;
			line-height: 1.5rem;
		}
		.contact-col ul li span:first-child{
			color: #46B1C9;
			margin-right: 8px;
		}
		
		.aside-wrap aside{
			float: right;
			width: 25vw;
			height: 35%;
			background-color: #001020;
			transform: translate(-15%, 103%);
			border-radius: 5px;
			border: 1px solid lightgrey;
			color: white;
			text-align: center;
			padding: 2%;
			line-height: 1.6em;
			z-index: 80;
		}
		.aside-wrap{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 55;
		}
	


@media screen and (max-width: 1023px) {
	main {
		border-style: solid;
		padding: 10px;
		background-color: lightcyan;
		margin-top: 80px;
		
	}

	nav {
		float: left;
		list-style-type: none;
		padding: 0;
		margin-bottom: 10px;
		width: 100%;
		background-color: darkgray;
		border-style: solid;
		border-color: darkgray;
	}

	a {
		float: left;
		text-decoration: none;
		color: white;
		background-color: blue;
		padding-top: 0.2em;
		padding-bottom: 0.2em;
		padding-left: 0.6em;
		padding-right: 0.6em;
		border: solid;
		border-width: 1px;
		border-color: white;
	}

	a:hover {
		background-color: orange;
	}

	h1 {
		color: white;
		background-color: olive;
	}

	section {
		border-style: groove;
		border-color: aliceblue;
		background-color: antiquewhite;
		margin: 10px;
		padding: 10px;
		box-shadow: 3px 3px 3px 2px #797979;
		margin-right: 15px;
	}

	/* fit the section to top of main */
	footer {
		.footer{
			width: 100vw;
			height: 55vh;
			background-color: #002C57;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			position: relative;
			overflow: hidden;
		}
		.footer-bg{
			position: absolute;
			top: -18%;
			left: -5%;
			height: 100%;
			opacity: 0.4;
			transform: rotate(180deg);
			z-index: 50;
		}
		.footer-bg2{
			position: absolute;
			top: -30%;
			right: 0;
			height: 150%;
			opacity: 0.4;
			z-index: 50;
		}
		.about-col, .links-col, .contact-col, .icon-col{
			position: relative;
			z-index: 60;
		}
		.about-col{
			width: 23%;
			height: 65%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 1% 1%;
		}
		.about-col img{
			width: 65%;
		}
		.about-col p,.about-col label{
			font-size: 1rem;
			line-height: 1.8rem;
			opacity: 0.8;
			color: lightgrey;
		}
		.about-col input{
			height: 28%;
			border: none;
			outline: none;
			padding: 20px;
			font-size: 0.9rem;
		}
		.links-col{
			height: 65%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 1% 1%;
		}
		.links-col h2{
			font-size: 1.1rem;
			font-weight: 700;
			margin-bottom: 40px;
			color: white;
		}
		.links-col ul{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex: 1;
		}
		.links-col ul li{
			font-size: 0.9rem;
			color: lightgrey;
			opacity: 0.8;
		}
		.contact-col{
			height: 65%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			padding: 1% 1%;
		}
		.contact-col h2{
			font-size: 1.1rem;
			font-weight: 700;
			margin-bottom: 40px;
			color: white;
		}
		.contact-col ul{
			display: flex;
			flex-direction: column;
			flex: 1;
		}
		.contact-col ul li:nth-child(2){
			margin: 15px 0;
		}
		.contact-col ul li{
			font-size: 0.9rem;
			color: lightgrey;
			opacity: 0.8;
			line-height: 1.5rem;
		}
		.contact-col ul li span:first-child{
			color: #46B1C9;
			margin-right: 8px;
		}

		}
		.aside-wrap aside{
			float: right;
			width: 25vw;
			height: 35%;
			background-color: #001020;
			transform: translate(-15%, 103%);
			border-radius: 5px;
			border: 1px solid lightgrey;
			color: white;
			text-align: center;
			padding: 2%;
			line-height: 1.6em;
			z-index: 80;
		}
		.aside-wrap{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 55;
		}

	}

	img {
		width: 80%;
		margin: 10px;
	}

	/* fit the image bellow the text paragraph */
	body {
		font-size: 120%;
		/* Increase text font size on a phone browser */
	}
