@charset "utf-8";

/* CSS Document */
*{font-family: 'Courier New', Courier, monospace;}

@media screen and (min-width: 1024px) {
	nav {
		text-align: right;
		list-style-type: none;
		padding: 0;
		margin : auto;
		width: 72%;
		background-color: transparent;
		border-style: dotted;
		border-color: transparent;
		align-self: center;
		justify-content: space-between;
	}
	body,html{
		height: 100%;
	}
	.top{
        
        background-color: darkblue;
        margin: 0%;
        height: 10vh;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: space-evenly;        
	}    

	a {
		
		text-align: center;
		float: space-between;
		text-decoration:aqua;
		color: rgb(255, 255, 255);
		background-color: rgb(0, 150, 187);
		padding-top: 0.2em;
		padding-bottom: 0.2em;
		padding-left: 0.6em;
		padding-right: 0.6em;
		border: solid;
		border-width: 1px;
		border-color: white;
		margin-top: 10%;
		height: 50%;
	}
	a:hover {
		background-color: orange;
	}

	h1 {
		font-size: 1.5em;
		font-weight: 10vw;
		text-align: left;
		color: whitesmoke;
		background-color: transparent;
		margin: 10px 45px;
		
	}

	textarea {
		background-color: darkgray;
		border-style: solid;
		border-color: black;
		width: 500px;
		height: 100px;
	}
}

@media screen and (max-width: 1023px) {
	body {
		font-size: 120%;
	}

	/* Increase text font size on a phone browser */
	nav {
		float: left;
		list-style-type: none;
		padding: 0;
		margin-bottom: 10px;
		width: 100%;
		background-color: darkgray;
		border-style: solid;
		border-color: darkgray;
	}

	a {
		float: left;
		text-decoration: none;
		color: white;
		background-color: blue;
		padding-top: 0.2em;
		padding-bottom: 0.2em;
		padding-left: 0.6em;
		padding-right: 0.6em;
		border: solid;
		border-width: 1px;
		border-color: white;
	}

	a:hover {
		background-color: orange;
	}

	h1 {
		color: white;
		background-color: olive;
	}

	textarea {
		background-color: darkgray;
		border-style: solid;
		border-color: black;
		height: 100px;
		width: 400px;
	}

	input {
		width: 30%;
	}
}